@charset "UTF-8";

@font-face {
    font-family: 'Static';
    src: url(../fontes/static/);
}

@font-face {
    font-family: 'Sriracha';
    src: url(../fontes/Sriracha-Regular.ttf);
}

:root {
    --fonte1: Verdama, Geneva, Tahoma, sans-serif;
    --fonte2: 'Static', serifa;
    --fonte3: 'Sriracha', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-weight: bolder;
    font-size: 7vw;
}

header p {
    padding-bottom: 50px;
    font-family: var(--fonte3);
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.1vw;
}

section p { 
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
}

section#img01 {
    background-image: url(../imagens/#img01);
}

section#img02 {
    background-image: url('https://cdn.pixabay.com/photo/2018/01/23/10/38/book-3101151__340.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}