
.fundo-pag1 {
    background-image: linear-gradient(68.15deg, #63326d 16.62%, #3f1661 85.61%);
    background-attachment: fixed;
}

.titulo-pag1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.fotosdecima {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fotosdebaixo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fundo-pag-secundaria {
    font-size: 100%;
    background: linear-gradient(68.15deg, #330e42 16.62%, #4c2d61 85.61%);
}

.titulo-pag-secundaria {
    text-align: center;
    color: white;
}

.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.principal-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.playlist {
    font-size: 25px;
    color: white;
}

.playlist:hover {
    color: #b8aabb;
}

.botao-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.botao {
    background: #330e4200;
    border-radius: 100px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);;
}

.botao:hover {
    background-color: rgba(137, 83, 161, 0.753);
}