@charset "UTF-8";

/* 
Typical Device Breakpoints
--------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px 
Tablet: 768px atpe 992px 
Desktop: 982px até 1200px
Grandes: acima de 1200px
*/

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul {
        display: flex;
        justify-content: center;
    }

    menu > ul > li {
        display: inline-block;
        border: none;
        margin-bottom: 10px;
    }

    menu > ul > li:not(:last-child) {
        margin-right: 10px;
    }
}